<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
</head>

<body>

<h2>Admin Dashboard</h2>
<hr>

<a href="categoryList.css"  th:href="@{/admin/categoryList}" target="_blank">Categories List</a><br>
<a href="productCount.css" th:href="@{/admin/productCount}" target="_blank">Product Count</a><br>
<a href="productVariationStock.css" th:href="@{/admin/productVariationStock}" target="_blank">Product Variation Details</a><br>

</body>

</html>