<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/js/dashboard.css}" />
</head>

<body>

<h2>Admin Dashboard</h2>
<hr>

<a href="categoryList.css"  th:href="@{/admin/categoryList}">Categories List</a><br>
<a href="productCount.css" th:href="@{/admin/productCount}">Product Count</a><br>
<a href="productVariationStock.css" th:href="@{/admin/productVariationStock}">Product Variation Details</a><br>

</body>

</html>